@import "@guillaumemmm/marquedefabrique/dist/css/variables.css";
@import "@guillaumemmm/marquedefabrique/dist/css/reset.css";
@import "@guillaumemmm/marquedefabrique/dist/css/kit.css";

@font-face {
    font-family: "IBM Plex Sans";
    src: url("./assets/fonts/IBMPlexSans-VariableFont_wdth,wght.woff2") format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "IBM Plex Sans";
    src: url("./assets/fonts/IBMPlexSans-Italic-VariableFont_wdth,wght.woff2") format('woff2');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

body {
    background: linear-gradient(-45deg, var(--mdf-color-background-muted), var(--mdf-color-background-default));
    min-height: 100vh;
    font-family: "IBM Plex Sans", "system-ui", "Arial";
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    color: var(--mdf-color-text-default)
}


.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    position: relative;
}

.points {
    position: relative;
    list-style: none;

    .point>button {
        border: none;
        background: none;
        padding: 0;

        --blur-level: 0px;
        --z-index: 0;
        --adj-ratio: calc(var(--ratio) + (var(--z-index) / 200));
        position: absolute;
        top: 0;
        left: 0;
        height: calc(var(--adj-ratio) * var(--height));
        width: calc(var(--adj-ratio) * var(--width));
        transition: transform 0.3s ease-in-out;

        @media (prefers-reduced-motion: reduce) {
            & {
                transition: none;
            }
        }

        cursor: pointer;
        filter: blur(var(--blur-level));
        z-index: var(--z-index);

        user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;

        img {
            width: 100%;
            height: 100%;
            box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
            animation: fade-in-postcard 0.2s ease-in-out both;

            @media (prefers-reduced-motion: reduce) {
                & {
                    animation: none;
                }
            }
        }

        &:hover {
            background-color: hsl(from var(--mdf-color-background-muted) h s calc(l - 2));
            transition: transform 0.3s ease-out;

            @media (prefers-reduced-motion: reduce) {
                & {
                    transition: none;
                }
            }
        }

        &:focus-visible {
            outline: 2px solid var(--mdf-color-outline-default);
            outline-offset: 2px;
            border-radius: 1px;
        }
    }
}

#canvas-layer {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    display: none;
    overflow: hidden;

    .summary {
        position: absolute;
        bottom: 1rem;
        left: 1rem;
        z-index: 2;
        padding: 0.5rem;
        background-color: rgb(from hsl(from var(--mdf-color-background-muted) h s calc(l - 2)) r g b / 0.9);
        border-radius: 3px;
        font-size: 0.8rem;
        max-width: calc(100vw - 2rem);
        animation: fade-in-postcard 0.3s 0.2s ease-in-out both;

        @media (prefers-reduced-motion: reduce) {
            & {
                animation: none;
            }
        }
    }

    .buttons {
        position: absolute;
        top: 1rem;
        left: 1rem;
        display: flex;
        gap: 1rem;
        z-index: 2;

        button {
            padding: 0.5rem 1rem;
            border-radius: 5px;
            border: 1px solid var(--mdf-color-border-default);
            text-decoration: none;
            background-color: var(--mdf-color-background-default);
            vertical-align: middle;
            width: fit-content;
            color: inherit;
            font-weight: 500;
            padding-left: 0.8rem;
            cursor: pointer;

            svg {
                width: 1rem;
                height: 1rem;
                stroke: currentColor;
                stroke-width: 1px;
                vertical-align: bottom;
                margin-right: 3px;
            }

            &:hover,
            &:hover:visited {
                box-shadow: 0 0 0 4px var(--mdf-color-border-muted);
                background-color: var(--mdf-color-background-default);
            }
        }
    }

    .canvas-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(from var(--mdf-color-background-muted) r g b / 0.1);
        backdrop-filter: blur(10px);
        z-index: 0;
        animation: fade-in 0.3s ease-out;

        @media (prefers-reduced-motion: reduce) {
            & {
                animation: none;
            }
        }
    }

    canvas {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 1;
        animation: fade-in-postcard 0.2s ease-out;

        @media (prefers-reduced-motion: reduce) {
            & {
                animation: none;
            }
        }
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-in-postcard {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}